.fade-slide-leave-active,
.fade-slide-enter-active {
  transition: all 0.3s;
}
.fade-slide-enter-from {
  opacity: 0;
  transform: translateX(-2rem);
}
.fade-slide-leave-to {
  opacity: 0;
  transform: translateX(2rem);
}
